<div class="navbar">
  <a  style="font-size: 22px;" href="#ANGULARCLI"><img style="  width: 40px;
    height: auto; margin-bottom: 6px;" class="img-responsive" src="assets/angular.png">NGULAR CLI</a>
  <a  href="#DOCUMENTATION">DOCUMENTATION</a>
  <a  href="https://github.com/MEGHANATHAKL-hub/Angular-based-websites">GITHUB</a>
  <a style="margin-left: 750px;" href="#RELEASES">RELEASES</a>
  <a style="float: right;" href="#GETSTARTED">GET STARTED</a>
</div>
<br>
<!-- <mat-toolbar  style="background-color: #f44336; position: fixed; box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%),
 0 3px 1px -2px rgb(0 0 0 / 20%), 0 1px 5px 0 rgb(0 0 0 / 12%); left: 0;">
 <ul id="parent">
  <li  style="font-size: 22px; color: white;" href="#ANGULARCLI"><img style="  width: 40px;
    height: auto; margin-bottom: 6px;" class="img-responsive" src="assets/angular.png">NGULAR CLI</li>
  <li >DOCUMENTATION</li>
  <li  >GITHUB</li>
  <li  >RELEASES</li>
  <li  >GET STARTED</li>
</ul>
</mat-toolbar> -->


<div class="divide" style="text-align: center; margin: auto; padding-top: 150px;">
<p style="font-size: 27px; color: white; ">Angular CLI</p>
<br>
<p style="font-size: 17px; color: white;margin-left: 145px; font-weight: normal;">A command line interface for Angular</p>
<br>
<div style="text-align: center; margin-left: 20px;">
  <button  style=" background-color: white ; color: #f44336; height: 40px; width: 150px;">GET STARTED</button>

</div>
</div>
<br>
<br>
<div class="para" style="margin-left: 320px; background-color: white" >
<div >
 <h4>ng new</h4>
 <div style="font-size: 16px;">
 <p>The Angular CLI makes it easy to create an application that already works, right out of the box. It</p>
 <p>already follows our best practices!</p>
</div>
</div>
<br>
<br>
<div>
  <h4>ng generate</h4>
  <div style="font-size: 16px;">
  <p>Generate components, routes, services and pipes with a simple command. The CLI will also create</p>
  <p>simple test shells for all of these.</p>
</div>
 </div>
 <br>
 <br>
 <div>
  <h4>ng serve</h4>
  <div style="font-size: 16px;">
  <p>Easily test your app locally while developing.</p>
  </div>
 </div>
 <br>
 <br>
 <div>
  <h4>Test, Lint</h4>
  <div style="font-size: 16px;">
  <p>Make your code really shine. Run your unit tests, your end-to-end tests, or execute the official</p>
  <p>Angular linter with the breeze of a command.</p>
  </div>
 </div>
</div>
<br>
<br>
<div style="text-align: center; margin: auto;">
  <button mat-button style=" background-color: #f44336; color: white; height: 40px; width: 150px;">GET STARTED</button>

</div>
<br>
  <div style="background-color: #263238;  height: 100px;">
  <ul id="parent">
    <li style="margin-top: 26px;"><img style=" width: 50px; height: auto;" class="img-responsive" src="assets/angular.png"></li>
    <li style="margin-left: 10px;"><p style="font-size: 22px; ">Learning Angular </p></li>
    <li style="float: right; margin-top: 40px;"><p>Powered by Google. Code licensed under an MIT-style License. Documentation licensed under CC BY 4.0.</p></li>
  </ul>
  </div>



<router-outlet></router-outlet>